
<!doctype html> 
<html lang="en"> 
  
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Home</title> 
    <style>
html { 
  background: url(static/bkg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  background-color: black;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page-wrap { width: 400px; margin: 50px auto; padding: 20px; background: white; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
	
    </style>

</head> 
  
<body> 
    <div id="page-wrap">
    <h3 class="text-center">{{ message }}</h3>
    </div>

<script>
    window.setTimeout(function(){
    
    // Move to a new location or you can do something else
    window.location.href = "/";
    
    }, 2000);
    </script>

</body> 
  
</html>
