<style>
    html { 
background: url(/static/bkg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#page-wrap { width: 400px; margin: 50px auto; padding: 20px; background: darkslategray; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
.rcorners1 {
  border-radius: 25px;
  padding: 20px;
  color:ghostwhite;
}
</style>

<div id="page-wrap" class="rcorners1">
<h1 style="color: #D00;">Your purchase was unsuccessful.</h1>
<p>This page will close automatically.</p>
</div>
<script>

window.setTimeout(function(){

// Move to a new location or you can do something else
window.location.href = "/";

}, 3000);
</script>